[Unit]
Description=Kubernetes Kube-Proxy Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=network.target
After=kubelet.service

[Service]
EnvironmentFile=-/etc/kubernetes/config
EnvironmentFile=-/etc/kubernetes/proxy
ExecStart={{ k8s_kubeproxy_path }} \
        $KUBE_LOGTOSTDERR \
        $KUBE_PROXY_ARGS
Restart=on-failure
LimitNOFILE=65536

StandardOutput=syslog
SyslogIdentifier=kube-proxy

[Install]
WantedBy=multi-user.target
